/*
 * @Author: 大侠传授两招吧
 * @Date: 2022-05-25 21:57:19
 * @LastEditors: 大侠传授两招吧
 * @LastEditTime: 2022-05-25 22:05:00
 * @Description: 
 */
{
    "plugins": [
      [
        "import",
        {
          "libraryName": "vant",
          "libraryDirectory": "es",
          "style": true
        }
      ]
    ]
}